body {
    background-color: #f5f5f5;
}

.card {
    margin-top: 1em;
}

/* IMG displaying */
.person-card {
    /* margin-top: 5em; */
    /* padding-top: 5em; */
}
.card-title{
    text-align: center;
}


/* .upload + label {
    position: center;
    margin:0 auto;
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #ef494f;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #a73337;
    transition: 150ms;
}

.upload:focus + label,
.upload + label:hover {
    background-color: #ff6c71;
    box-shadow: 0px 5px 0px #d03338;
    cursor:pointer;
}

.upload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
} */

input[type=file] {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 34px;
  overflow: hidden;
}

input[type=file]:before {
  width: 200px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: 'Select your file';
  display: inline-block;
  background: white;
  border: 1px solid #000;
  padding: 0 10px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

img{
  max-width:180px;
  position: relative;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07); */
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
